---
layout: layout
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog_posts
permalink: '| /blog/tags/#{tag.toLowerCase()}/'
---
h1 Blog posts tagged with "#{tag}"
ol
  each post in [...collections[tag]].reverse()
    li
      a.link(href=post.url)= post.data.title
      | #{' '}(#[span.sr-only published on ]#{datetime.human(post.date)})
p
  a.link(href="/blog/tags/") See all blog tags
  = ' or '
  a.link(href="/blog/") go back to the blog
