---
layout: layout
title: All blog tags
meta_description: Listing of all blog tags.
---
h1= title

ul
  each tag in collections.blog_tags
    -
      const count = collections.all.filter(
        (item) => (item.data.tags || []).includes(tag)
      ).length

    li: a.link(href=`/blog/tags/${slugify(tag)}/`)
      = `${tag} (${count} blog post${count === 1 ? '' : 's'})`

p: a.link(href="/blog/") Go back to the blog
