---
layout: layout
title: All blog tags
metaDescription: Listing of all blog tags.
dynamicPermalink: false # Don't parse `permalink` using Pug
permalink: /blog/tags/
---
h1= title

ul
  each tag in collections.blogTags
    -
      const count = collections.all.filter(
        (item) => (item.data.tags || []).includes(tag)
      ).length

    li: a.link(href=`/blog/tags/${slugify(tag)}/`)
      = `${tag} (${count} blog post${count === 1 ? '' : 's'})`

p: a.link(href="/blog/") Go back to the blog
