---
dynamicPermalink: false # Don't parse `permalink` using Pug
permalink: /blog/feed.xml
---
- const latest_post = collections.blog_posts[collections.blog_posts.length - 1]

doctype xml
feed(xmlns="http://www.w3.org/2005/Atom")
  title= title
  subtitle= description
  link(href=`${site.url}${permalink}` rel="self")/
  link(href=`${site.url}/`)/
  updated= getPublishedDate(latest_post)
  id= `${site.url}/`
  author
    name Matias Kinnunen
    email blog@mtsknn.fi
  each post in collections.blog_posts
    - const full_url = `${site.url}${post.url}`
    entry
      title= post.data.title
      link(href=full_url)/
      updated= getPublishedDate(post)
      id=full_url
      content(type="html")= getFullContent(post)
