//- `name`  (required) = Icon name on heroicons.com + `-sm`/`-md` (small/medium)
//- `title` (optional) = Text for the title tag; displayed on mouse hover
mixin icon(name, title)
  mixin svg(title)
    svg(aria-hidden="true")&attributes(attributes)
      if title
        title= title
      block

  if name === 'chevron-right-sm'
    //`chevron-right` icon by Heroicons (https://heroicons.com/), MIT Licensed
    +svg(title)(
      fill="currentColor"
      viewBox="0 0 20 20"
    )&attributes(attributes)
      path(
        clip-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        fill-rule="evenodd"
      )
  else if name === 'hashtag-md'
    //`hashtag` icon by Heroicons (https://heroicons.com/), MIT Licensed
    +svg(title)(
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    )&attributes(attributes)
      path(
        d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      )
  else if name === 'home-md'
    //`home` icon by Heroicons (https://heroicons.com/), MIT Licensed
    +svg(title)(
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    )&attributes(attributes)
      path(
        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      )
  else
    = error(`Invalid argument '${name}' given for the \`icon\` mixin`)
