include /_mixins.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title
      = (metaTitle || title).trim()
      if page.url !== '/'
        | !{' &ndash; '} #{site.title}
    link(rel="canonical" href=`${site.url}${page.url}`)
    if (metaDescription || intro || '').trim()
      meta(
        name="description"
        content=(metaDescription || intro).trim().replace(/\n/g, ' ')
      )

    //Favicon formats generated with https://realfavicongenerator.net/ 👍
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc8181")
    meta(name="theme-color" content="#fc8181")

    link(
      rel="preload"
      href="/fonts/Inter/Inter.latin.var.woff2?v=3.15"
      as="font"
      type="font/woff2"
      crossorigin
    )
    link(
      rel="preload"
      href="/fonts/JetBrains Mono/jetbrains-mono-v3-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    )

    link(rel="stylesheet" href="/main.css")

    link(
      rel="alternate"
      type="application/atom+xml"
      href="/feeds/all.xml"
      title=`${site.title} ${entity.ndash} All content (Atom/RSS)`
    )
    link(
      rel="alternate"
      type="application/atom+xml"
      href="/feeds/blog.xml"
      title=`${site.title} ${entity.ndash} Blog (Atom/RSS)`
    )
    link(
      rel="alternate"
      type="application/atom+xml"
      href="/feeds/weekly-log.xml"
      title=`${site.title} ${entity.ndash} Weekly log (Atom/RSS)`
    )

    link(
      rel="alternate"
      type="application/json+feed"
      href="/feeds/all.json"
      title=`${site.title} ${entity.ndash} All content (JSON)`
    )
    link(
      rel="alternate"
      type="application/json+feed"
      href="/feeds/blog.json"
      title=`${site.title} ${entity.ndash} Blog (JSON)`
    )
    link(
      rel="alternate"
      type="application/json+feed"
      href="/feeds/weekly-log.json"
      title=`${site.title} ${entity.ndash} Weekly log (JSON)`
    )

    script(
      data-api="/elbisualp/api/event"
      data-domain="mtsknn.fi"
      defer
      src="/elbisualp/js/script.js"
    )
  body#top.bg-gray-50.break-words.font-sans(
    class={ 'debug-screens': process.env.NODE_ENV === 'development' }
  )
    .max-w-4xl.mx-auto.p-6
      header.border-b.border-gray-300.pb-6
        +skipLink('Skip to content', '#main', 'main-skip-link xl:!mr-6')

        nav.flex.flex-col.justify-between.text-center(
          aria-label="Main navigation"
          class="sm:flex-row sm:text-left"
        )
          a.font-bold.font-mono(
            aria-label=`mtsknn dot f i ${entity.ndash} go to the front page.`
            class="hover:text-red-600 active:text-red-700 xl:text-lg"
            href="/"
          )
            //- Even though the link has an `aria-label`,
            //- VoiceOver on iPad would sometimes choose one of the elements below
            //- and read it instead of the `aria-label`.
            //- Thus the `aria-hidden` is required
            //- even though it seems redundant.
            span(aria-hidden="true")
              if page.url === '/'
                | m
                span.logo-character a
                | t
                span.logo-character.logo-character--length-2 ia
                | s
                span.logo-character &nbsp;
                | k
                span.logo-character i
                | nn
                span.logo-character.logo-character--length-4 unen
                span.logo-domain-extension .fi
              else
                | mtsknn
                span.opacity-50 .fi
          .-ml-6.space-x-6.space-y-4(class="sm:space-y-0 xl:space-x-8")
            each item, i in navItems.topNav
              a.inline-block.whitespace-no-wrap(
                class=[
                  { 'font-bold': (page.url || '').startsWith(item.href) },
                  { 'mt-4 ml-6 sm:mt-0 sm:ml-0': i === 0 },
                  'hover:text-red-600 active:text-red-800 xl:text-lg',
                ]
                href=item.href
              )= item.text
            a.inline-block.text-gray-500(
              aria-label="RSS/Atom and JSON feeds"
              class=[
                { 'text-gray-800': (page.url || '').startsWith('/feeds/') },
                'hover:text-red-600 active:text-red-800',
              ]
              href="/feeds/"
            )
              +icon('rss-md', 'RSS/Atom and JSON feeds')(
                class="align-text-top inline-block xl:align-top xl:!w-6"
                style={ width: '1.25rem' }
              )
      main#main.mb-12.pt-12
        if page.url !== '/' && page.url !== '/404.html'
          +breadcrumb

        block content
          .prose(class="xl:prose-lg")!= md.render(content)
      footer.border-t.border-gray-300.flex.items-baseline.justify-between.pt-6.text-gray-700.text-sm(
        class="xl:text-base"
      )
        .text-gray-500.text-left
          | &copy; #{site.title} 2020&ndash;2021.
        a.ml-4(
          aria-label="Scroll to top"
          class="hover:opacity-75"
          href="#top"
        )
          +icon('arrow-circle-up-md', 'Scroll to top')(
            class="align-top inline text-gray-500"
            style={ width: '1.25rem' }
          )
