include ./_icons

mixin breadcrumb
  if page.url
    nav.mb-4(aria-label="Breadcrumb")
      ul
        li.inline.list-none
          a.duration-150.text-gray-500.transition-color(
            aria-label="Home"
            class="hover:text-red-600 active:text-red-800"
            href="/"
          )
            +icon('home-md', 'Home')(
              class="align-text-bottom inline"
              style={ width: '1.25rem' }
            )
          +icon('chevron-right-sm')(
            class="inline mx-2 text-gray-500"
            style={ width: '1.25rem' }
          )
        each item in utils.getBreadcrumbItems(page.url)
          li.inline.list-none
            a.link(href=item.href)= item.text
            +icon('chevron-right-sm')(
              class="inline mx-2 text-gray-500"
              style={ width: '1.25rem' }
            )

mixin postMeta(date, tags = [])
  - const isScheduled = date > Date.now()

  .text-gray-600
    span.sr-only Published on#{' '}
    time.border-gray-300.border-r-2.pr-4.tracking-wider.uppercase(
      datetime=datetime.robot(date)
    )
      if isScheduled
        span.pr-2(aria-hidden="true" title="Scheduled") ⌚
      = datetime.human(date)

    if tags.length
      span.sr-only &ndash; Tags:
      ul.inline
        each tag in tags
          li.inline-block.list-none.ml-4.whitespace-no-wrap(class="!my-1 !pl-0")
            a.link.link-tag.py-1(href=`/blog/tags/${slugify(tag)}/`)= tag

mixin recipeMeta(date, tags, isDraft)
  - const isScheduled = date > Date.now()

  .text-gray-600(class="sm:whitespace-no-wrap")
    //- Disabled for now because all recipes have only one tag
    //- if tags.length
    //-   span.sr-only Tags:
    //-   ul.inline.mr-4.space-x-2
    //-     each tag in tags
    //-       li.bg-gray-200.font-bold.inline-block.list-none.rounded-lg.text-gray-800(
    //-         class="!my-1 !px-2"
    //-       )= tag

    if isDraft
      span.pr-2(aria-hidden="true" title="Draft") ✏
    time.tracking-wider.uppercase(datetime=datetime.robot(date))
      if isScheduled
        span.pr-2(aria-hidden="true" title="Scheduled") ⌚
      span.sr-only Published on#{' '}
      = datetime.human(date)

mixin skipLink(text, href, classes = '')
  .absolute.z-10
    a.bg-orange-300.font-bold.inline-block.rounded.sr-only.underline(
      class=`!text-black focus:px-6 focus:py-4 focus:not-sr-only ${classes}`
      href=href
    )= text

mixin toc(html)
  mixin list(items)
    ol
      each item in items
        li
          a.link(href=item.href)!= item.content
          if item.subItems.length > 0
            +list(item.subItems)

  - const items = getTocItems(html)
  if items.length >= 2
    h2.tracking-widest.uppercase(class="!text-base !text-gray-700 xl:!text-lg")
      | Table of contents
    +skipLink('Skip table of contents', '#skip-toc')
    nav(aria-label="Table of contents")
      +list(items)
    hr(aria-hidden="true" class="!mb-0")
    #skip-toc
