mixin postMeta(date, tags = [])
  - const isScheduled = date > Date.now()

  .text-gray-600
    span.sr-only Published on#{' '}
    time.border-gray-300.border-r-2.pr-4.tracking-wider.uppercase(
      datetime=datetime.robot(date)
    )
      if isScheduled
        span.pr-2(aria-hidden="true" title="Scheduled") ⌚
      = datetime.human(date)

    if tags.length
      span.sr-only &ndash; Tags:
      ul.inline
        each tag in tags
          li.inline-block.list-none.ml-4.whitespace-no-wrap(class="!my-1 !pl-0")
            a.link.link-tag.py-1(href=`/blog/tags/${slugify(tag)}/`)= tag

mixin skipLink(text, href, classes = '')
  .absolute.z-10
    a.bg-orange-300.font-bold.inline-block.rounded.sr-only.underline(
      class=`!text-black focus:px-6 focus:py-4 focus:not-sr-only ${classes}`
      href=href
    )= text

mixin toc(html)
  mixin list(items)
    ol
      each item in items
        li
          a.link(href=item.href)!= item.content
          if item.subItems.length > 0
            +list(item.subItems)

  - const items = getTocItems(html)
  if items.length >= 2
    h2.tracking-widest.uppercase(class="!text-base !text-gray-700 xl:!text-lg")
      | Table of contents
    +skipLink('Skip table of contents', '#skip-toc')
    nav(aria-label="Table of contents")
      +list(items)
    hr(aria-hidden="true" class="!mb-0")
    #skip-toc
