extends /_layout

block content
  .mt-6.prose(class="xl:prose-lg")
    h1(aria-label=`Blog posts tagged with ${tag}`)
      .font-bold.mb-2.text-gray-500.text-xl(
        aria-hidden="true"
        class="xl:mb-4 xl:text-2xl"
      ) Blog posts tagged with#{' '}
      .pl-10.relative(class="xl:pl-12")
        +icon('hashtag-md')(
          class="absolute inline-block left-0 mt-1 mr-1 text-gray-500 xl:!w-12"
          style={'vertical-align': '-0.3rem', width: '2rem'}
        )
        div(class="xl:ml-2")= tag

    ol
      each post in collections.blogPostsWithTag(tag)
        li
          a.link(href=post.url)= post.data.title
          span.whitespace-no-wrap
            | #{' '}(#[span.sr-only published on ]#{datetime.human(post.date)})
