extends /_layout

block content
  .prose(class="xl:prose-lg")
    h1= title

    p.lead!= md.renderInline(intro)
    != content

    h2 Coolest blog posts, hot off the press
    each post, i in collections.blogPosts
      article
        h3
          if utils.isDraft(post.data)
            span.pr-3(aria-hidden="true" title="Draft") ✏
          a.link(href=post.url)!= md.renderInline(post.data.title)
        .text-sm(class="xl:text-base")
          +postMeta(post.date, post.data.updated, post.data.tags)
        p!= md.renderInline(post.data.intro)
        a.link.text-sm.tracking-wider.uppercase(
          aria-label=`Continue reading "${post.data.title}"`
          href=`${post.url}#continue-reading`
        ) Continue reading
      if i !== collections.blogPosts.length - 1
        hr(aria-hidden="true")
    else
      p No blog posts yet. 🤷‍♂️
