---
dynamicPermalink: false # Don't parse `permalink` using Pug
permalink: /blog/feed.xml
---
- const latestPost = collections.blogPosts[collections.blogPosts.length - 1]

doctype xml
feed(xmlns="http://www.w3.org/2005/Atom")
  title= title
  subtitle= description
  link(href=`${site.url}${permalink}` rel="self")/
  link(href=`${site.url}/`)/
  if latestPost
    updated= getPublishedDate(latestPost)
  id= `${site.url}/`
  author
    name Matias Kinnunen
    email blog@mtsknn.fi
  each post in collections.blogPosts
    - const fullUrl = `${site.url}${post.url}`
    entry
      title= post.data.title
      link(href=fullUrl)/
      updated= getPublishedDate(post)
      id= fullUrl
      content(type="html")= getFullContent(post)
