extends /_layout

block content
  .prose(class="xl:prose-lg")
    h1.text-center(aria-label=title)
      .font-bold.mb-2.text-gray-500.text-2xl(class="xl:mb-4 xl:text-3xl")
        | Yello! I'm#{' '}
      = site.author.name
      span.text-gray-500 ,
      .font-bold.mt-2.text-gray-500.text-2xl(class="xl:mt-4 xl:text-3xl")
        | #{' '}not a web developer

    .lead!= md.render(intro)
    != content

    ul(class="sm:space-x-8")
      -
        const items = [
          {
            ariaLabel: `My email address: ${site.author.email}`,
            href: `mailto:${site.author.email}`,
            icon: 'fa-envelope',
            text: site.author.email,
          },
          {
            ariaLabel: 'My GitHub account',
            href: 'https://github.com/mtsknn',
            icon: 'fa-github-alt',
            text: 'GitHub',
          },
          {
            ariaLabel: 'My Stack Overflow account',
            href: 'https://stackoverflow.com/users/1079869/matias-kinnunen',
            icon: 'fa-stack-overflow',
            text: 'Stack Overflow',
          },
        ]
      each item in items
        li.list-none(class="!my-4 !pl-0 sm:inline")
          a.link(aria-label=item.ariaLabel href=item.href)
            +icon(item.icon)(
              class="inline mr-3 text-gray-500 align-text-bottom"
              style={ width: '1.25rem' }
            )
            = item.text

    hr(aria-hidden="true")

    h2 READ ME

    -
      const latestContent = [
        { type: 'Blog post', data: collections.blogPosts[0] },
        { type: 'Weekly log entry', data: collections.weeklyLogEntries[0] },
      ]
    ul
      each content in latestContent
        li
          = `${content.type}: `
          a.link(href=content.data.url)
            != md.renderInline(content.data.data.title)
          = ` (${datetime.human(content.data.date)})`

    h2 LOL U LATE

    ul
      li: a.link(href="/blog/") Blog &ndash; my wildest adventures with computers
      li: a.link(href="/weekly-log/") Weekly log &ndash; learnings and cool stuff
