extends /_layout

block content
  .prose(class="xl:prose-lg")
    h1= title

    p.lead!= md.renderInline(intro)
    != content

    ul(class="sm:space-x-8")
      -
        const items = [
          {
            ariaLabel: 'My email address: hello@mtsknn.fi',
            href: 'mailto:hello@mtsknn.fi',
            icon: 'fa-envelope',
            text: 'hello@mtsknn.fi',
          },
          {
            ariaLabel: 'My GitHub account',
            href: 'https://github.com/mtsknn/',
            icon: 'fa-github-alt',
            text: 'GitHub',
          },
          {
            ariaLabel: 'My Stack Overflow account',
            href: 'https://stackoverflow.com/users/1079869/mts-knn',
            icon: 'fa-stack-overflow',
            text: 'Stack Overflow',
          },
        ]
      each item in items
        li.list-none(class="!pl-0 sm:inline")
          a.link(aria-label=item.ariaLabel href=item.href)
            +icon(item.icon)(
              class="align-text-bottom inline mr-3 text-gray-500"
              style={ width: '1.25rem' }
            )
            = item.text

    hr(aria-hidden="true")

    h2 Latest blog post

    //- TODO: Should create a mixin from this
    //- because this is duplicated here and in `blog.pug`
    - post = collections.blogPosts.filter((post) => !utils.isDraft(post.data))[0]
    article
      h3: a.link(href=post.url)!= md.renderInline(post.data.title)
      .text-sm(class="xl:text-base")
        +postMeta(post.date, post.data.tags)
      p!= md.renderInline(post.data.intro)
      a.link.text-sm.tracking-wider.uppercase(
        aria-label=`Continue reading "${post.data.title}"`
        href=`${post.url}#continue-reading`
      ) Continue reading

    h2 More content

    ul
      li: a.link(href="/blog/") Blog &ndash; my wildest adventures with computers
      li: a.link(href="/cookbook/") Cookbook &ndash; my best tips, tricks & snippets
      li: a.link(href="/weekly-log/") Weekly log &ndash; learnings and cool stuff
