extends /_layout

block content
  +breadcrumb

  .prose(class="xl:prose-lg")
    h1= title

    .lead
      != md.render(intro)

      - const latest = collections.weeklyLogEntries[0]
      p
        a.link(href=latest.url)
          | Read the latest entry:
          = ' '
          strong #{latest.data.title}

    hr(aria-hidden="true")

    //- TODO: Replace the hardcoded year with dynamic years
    h2#2021 2021

    ul
      each entry in collections.weeklyLogEntries
        li: a.link(href=entry.url)= entry.data.title

    hr(aria-hidden="true")

    //- TODO: Move this section to the content file?
    //- Though the problem there is that
    //- we can't access the `datetime` helper.
    h2 What's the current week number?

    p.
      Today (this page is automatically rebuilt once per day) is
      #{' '}
      #[strong #{new Date().toLocaleString('en', { dateStyle: 'full' })}],
      and it's
      #{' '}
      #[strong the #{datetime.nthWeek(new Date())} week]
      #{' '}
      here in Finland.
    p.
      Did you know that
      #[a.link(href="/weekly-log/2021/02/#calculating-week-numbers-is-complex") calculating week numbers is complex]?
      In your area
      the current week number
      might be something else
      than here.
      #[a.link(href="/weekly-log/2021/02/#calculating-week-numbers-is-complex") I learned that on the 2nd week of 2021.]
